jupyterlab
pandas
matplotlib
numpy
scipy
scikit-learn
seaborn
torch
toolz
memory_profiler
typing-extensions
mypy
wandb
wandb[image]
line_profiler
pyrsistent
snakeviz
equinox
jaxlib
jax[cuda12]
optax
torchviz
donotation
matfree