jupyterlab
pandas
matplotlib
numpy
scipy
scikit-learn
seaborn
torch
torchvision
toolz
memory_profiler
typing-extensions
mypy
wandb
wandb[image]
line_profiler
pyrsistent
snakeviz
equinox
jaxlib
jax
optax
torchviz
donotation
matfree
cattrs
gymnasium
gymnasium[box2d]
polars
psycopg2-binary
clearml
clearml-agent
boto3
boto3-stubs[ssm]
git+https://github.com/thewillyP/sweep-agent.git