python=3.13
jupyterlab
pandas
matplotlib
numpy
scipy
scikit-learn
seaborn
torch
toolz
memory_profiler
typing-extensions
mypy
wandb
line_profiler
pyrsistent
snakeviz
equinox
jaxlib
jax
optax
torchviz
donotation